# Ignorar carpetas que no son necesarias para construir la imagen Docker
.angular
dist
documentation
node_modules

# Ignorar archivos de configuración que no son necesarios dentro del contenedor
.editorconfig
.git
.gitignore
firebase.json
README.md

# Ignorar archivos de TypeScript de configuración no necesarios para el build final
tsconfig.spec.json
tsconfig.doc.json
